.products-page{

    padding:40px;

}



.products-page h1{

    text-align:center;

}



.product-search{

    display:flex;

    justify-content:center;

    margin:30px 0;

}



.product-search input{

    width:400px;

    padding:12px;

}



.product-search button{

    padding:12px 25px;

    cursor:pointer;

}



.product-grid{

    display:grid;

    grid-template-columns:

    repeat(4,1fr);

    gap:25px;

}



@media(max-width:900px){

    .product-grid{

        grid-template-columns:

        repeat(2,1fr);

    }

}



@media(max-width:500px){

    .product-grid{

        grid-template-columns:

        repeat(1,1fr);

    }


    .product-search input{

        width:200px;

    }

}